//fonts
//@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.nav_link {
	//font-family: 'Roboto', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Lora', serif;

	.post_content {
		font-family:'Roboto', sans-serif;
	}
}

//colors
$primaryColor: green;
$gray: #2b2b2b;

//media breakpoints
$tablet-width: 768px;
$desktop-width: 1023px;

//mixins
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet_and_desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

//grid system here

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1000px;
}

.row::before,
.row::after {
	display: table;
	content: " ";
	clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.one-fifth,
.half {
  width: 100%;
}

@include tablet_and_desktop {
	//columns
	.one {
    	width: 100%;
    }
	.half {
		width: calc(100% / 2);
  	}
	.one-third {
    	width: calc(100% / 3);
  	}
  	.one-fourth {
    	width: calc(100% / 4);
  	}
  	.two-thirds {
    	width: calc(100% / 3 * 2);
  	}
  	.one-fifth {
  		width: calc(100% / 5)
  	}
  	.column {
    	float: left;
  	}
  	//offsets
	.push-half {
		margin-left: calc(100% / 2);
  	}
	.push-one-third {
    	margin-left: calc(100% / 3);
  	}
  	.push-one-fourth {
    	margin-left: calc(100% / 4);
  	}
  	.push-two-thirds {
    	margin-left: calc(100% / 3 * 2);
  	}
  	.push-one-fifth {
  		margin-left: calc(100% / 5)
  	}
  	.push-one-sixth {
  		margin-left: calc(100% / 6)
  	}

}

/// Gives a card depth effect.
/// @param {Number} $depth - depth level (between 1 and 5)
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
/// @requires {function} top-shadow
/// @requires {function} bottom-shadow
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

//Utility classes

.center {
	text-align:center;
}

.left {
	text-align: left;
}

[v-cloak] {
        display:none;
}

.gen-margin-top {
	margin-top:10px;
}

.inline-block {
	display:inline-block;
}
//custom styling

:root {
	font-size:16px;
	color: $gray;
}

.mainNavWrap {
	box-shadow:0 1px 3px #BBBBBB;
	position:fixed;
	background:white;
	z-index:10;

	.nav_logo {
		width:75px;
		height:auto;
	}
	.nav_logo_holder{
		display:block;
		width:100%;
		z-index:-1;

	}
	.nav_menu_ham {
		width:40px;
		height:auto;
		cursor: pointer;
	}
	.collapsed_nav_link {
		display:inline-block;
		float:right;
		margin:6px 5px 0 0;
	}

	.desktop_nav_logo {
		display:none;

		.v-link-active {
			background:white;
		}
	}




	@include tablet_and_desktop {
		.nav_logo {
			width:93px;
		}
		.nav_logo_holder {
			float:left;
			position:absolute;
			text-align:center;
			display:none;
		}
		.collapsed_nav_link {
				display:none;
		}
	}
}

.view_container {
	padding-top:70px;
}

.mainNav {

	display:none;
	text-align:center;
	color:$gray;
	
	ul{
		list-style:none;
		margin:0;
		padding:0;
	}

	.nav_link {

		letter-spacing: 5px;

		a {
			color:$gray;
			text-decoration: none;
		}
	}

	.v-link-active {
		background:$gray;
		color:white;

		a{
			text-decoration: none;
			color:white;
		}
	}



	@include tablet_and_desktop {

		display:block !important;		

		ul{
			padding:0;
		}
		li {
			display: inline-block;
			text-align:center;
		}
		.nav_link {
			display:block;
		}
	}

}

//map.js

$roadtripPathColor: #FF6666;//#26C6DA;
$roadtripCirclesColor: #FF6666;//#26C6DA;

.map {
	stroke-width:1px;
	.country {
		stroke:white;
		fill:$gray;
	}
	.roadtripPath {
		stroke:$roadtripPathColor;
	}
	.placeCircles {
		fill:$roadtripPathColor;
	}
	.placeCircles:hover {
		r:12px;
		cursor: pointer;
		stroke:white;
		stroke-width:2px;
	}
	@media (max-width:767px) {
		.placeCircles, .placeCircles:hover {
			r:8px;
		}
		
	}
}

.map_tt {

	width:200px;
	background:white;
	text-align:center;
	@include card(1);

	a {
		text-decoration: none;
		color:$gray;
	}

	.map_tt_title {
		font-size:1.5em;
	}
	img{
		width:100%;
	}
	.tt_img_loader{
		width:100%;
		height:100px;
		background:$gray;

		img {
			height:40px;
			margin-top:30px;
		}
	}
	.map_tt_close {
		position:absolute;
		right:5px;
		bottom:5px;
		background:$gray;
		padding:2px;
		color:white;
		font-size:16px;
		cursor:pointer;
	}
}

.map_holder {
	margin-top:0px;
}

.home_image_section {
	background: $gray;

	.slick-slider {
		margin:15px 0;
	}
}

//admin forms

#admin_app {
	overflow-x:hidden;
}

.adminFormHolder {
	margin-top:20px;
	display:inline-block;
	padding:5px;
	@include card(2);
	border-radius: 10px;
	background: #4DD0E1;

	.bp_wrap {
	padding:0 15px 0 15px;

		.editable {
		background:white;
		min-height:500px;
		padding:5px;
		border-radius:10px;
		}

		.bp_title_field {
			font-size:2em;
		}
	}
}

.blog_post_wrap {
	margin-top:5px;
	display:inline-block;
	max-width:100%;
	@include tablet_and_desktop {
		max-width:65%;
	}
}

.blogpostholder{
	img{
		max-width:100%;
	}
	a {
		color:inherit;
		text-transform:uppercase;
		text-decoration:none;
	}

	.post_title, .post_place {
		margin:5px 0px;
	}

	.post_title {
		font-weight:100;
		text-transform: uppercase;
	}

	.post_place, .post_date {
		font-family: 'Montserrat', sans-serif;
		font-weight:100;
	}
	.post_place {
		font-size:17px;
	}

	.post_date {
		margin-top:5px;
		display:block;
		font-size:12px;

	}
}

.blogpost_info_wrap {
	text-align:center;
}

.image_slider {

	width:95%;
	display:inline-block;

	button {
		display:block;
		
	}
	@media (max-width:767px) {
		button{
			display:none !important;
		}
	}


	.slider_img_wrap {
		text-align:center;
		@include desktop {
			height:180px;
		}
		@include tablet {
			height:150px;
		}
	}
	img{
		height:auto;
		width:100%;
		display:inline-block;
		@include card(1);

		@include tablet_and_desktop {
			height:100%;
			width:auto;
		}
	}
}

.slick-track {
margin: 0 auto;
}

.gallery_place_holder{

	display:inline-block;
	position:relative;

	.gallery_place_title{
		position:absolute;
		color:white;
		margin:0;
		top:12%;
		left:-10px;
		@include card(1);
		text-align: center;
		transform:translateY(-50%);
		background:$gray;
		padding:4px;
	}
}

.place_gallery_image_holder {
	img {
		width:100%;

		@include tablet_and_desktop {
			width:95%;
		}

	}
}

.gallery_header {
	font-weight:normal;
	text-align:center;
}

.about_wrap {
	position: fixed;
	top: 50%;
	left:0;
	right:0;
	transform: translateY(-50%);
	line-height: 1.8;
}