//colors
$primaryColor: green;
$gray: #2b2b2b;

//media breakpoints
$tablet-width: 768px;
$desktop-width: 1023px;

//mixins
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet_and_desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

//grid system here

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1000px;
}

.row::before,
.row::after {
	display: table;
	content: " ";
	clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.one-fifth,
.half {
  width: 100%;
}

@include tablet_and_desktop {
	//columns
	.one {
    	width: 100%;
    }
	.half {
		width: calc(100% / 2);
  	}
	.one-third {
    	width: calc(100% / 3);
  	}
  	.one-fourth {
    	width: calc(100% / 4);
  	}
  	.two-thirds {
    	width: calc(100% / 3 * 2);
  	}
  	.one-fifth {
  		width: calc(100% / 5)
  	}
  	.column {
    	float: left;
  	}
  	//offsets
	.push-half {
		margin-left: calc(100% / 2);
  	}
	.push-one-third {
    	margin-left: calc(100% / 3);
  	}
  	.push-one-fourth {
    	margin-left: calc(100% / 4);
  	}
  	.push-two-thirds {
    	margin-left: calc(100% / 3 * 2);
  	}
  	.push-one-fifth {
  		margin-left: calc(100% / 5)
  	}

}

//Utility classes

.center {
	text-align:center;
}

[v-cloak] {
        display:none;
}

//custom styling

:root {
	font-size:16px;
	color: $gray;
}

.mainNavWrap {
	box-shadow:0 1px 3px #BBBBBB;

	.nav_logo {
		width:75px;
		height:auto;
	}
	.nav_logo_holder{
		position:block;
		width:100%;

	}
	.nav_menu_ham {
		width:40px;
		height:auto;
	}
	.collapsed_nav_link {
		display:inline-block;
		float:right;
		margin:6px 5px 0 0;
	}


	@include tablet_and_desktop {
		.nav_logo {
			width:100px;
		}
		.nav_logo_holder {
			float:left;
			position:absolute;
			text-align:center;
		}
		.collapsed_nav_link {
				display:none;
		}
	}
}

.mainNav {

	display:none;
	text-align:center;
	
	ul{
		list-style:none;
		margin:0;
		padding:0;
	}

	@include tablet_and_desktop {

		display:block !important;		

		ul{
			padding:0;
		}
		li {
			display: inline-block;
			text-align:center;
		}
		.nav_link {
			display:block;
		}
	}

}

.map {
	stroke-width:1px;
	.country {
		stroke:#2b2b2b;
		fill:white;
	}
}